@font-face {
    font-family: 'Futura';
    src: local('FuturaBookC'),
        url('../../fonts/Future/hinted-FuturaBookC.woff2') format('woff2'),
        url('../../fonts/Future/hinted-FuturaBookC.woff') format('woff'),
        url('../../fonts/Future/hinted-FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


